form.form-message
	.form__title Пишите, мы ответим
	.general-form
		.general-itemInput.general-itemInput_50
			input.general-itemInput__input(type="tel" data-type="tel" data-required="" placeholder="Телефон")
		.general-itemInput.general-itemInput_50
			input.general-itemInput__input(type="text" data-type="email" data-required="" placeholder="E-mail")
		.general-itemInput
			textarea.general-itemInput__input(type="text" placeholder="Сообщение")
		.general-bottomBlock
			button.general__btn.gradient-btn(type="submit") 
				span Связаться
			p.general-bottomBlock__text Отправляя личные данные, Вы соглашаетесь 
				a(target="_blank" href="#") с политикой конфиденциальности
