form.form.form-plot
	.form-col
		.form-plot__title Участок 13
		.plot-content-info__square
			<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M7.5 7.5V17.5H17.5V7.5H7.5ZM5 5H20V20H5V5ZM5 0H7.5V3.75H5V0ZM5 21.25H7.5V25H5V21.25ZM0 5H3.75V7.5H0V5ZM0 17.5H3.75V20H0V17.5ZM21.25 5H25V7.5H21.25V5ZM21.25 17.5H25V20H21.25V17.5ZM17.5 0H20V3.75H17.5V0ZM17.5 21.25H20V25H17.5V21.25Z" fill="url(#paint0_linear)"/>
				<defs>
				<linearGradient id="paint0_linear" x1="12.5" y1="0" x2="12.5" y2="25" gradientUnits="userSpaceOnUse">
				<stop stop-color="#419B5F"/>
				<stop offset="0.989583" stop-color="#0C5D27"/>
				</linearGradient>
				</defs>
			</svg>
			| 6 соток
		.plot-content-info__price
			<svg width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M2.394 20V16.1905H0V14.3697H2.394V11.8768H0V9.7479H2.394V0H7.56723C9.9704 0 11.7498 0.494865 12.9056 1.48459C14.0796 2.47432 14.6667 3.91223 14.6667 5.79832C14.6667 7.70308 14.0338 9.19701 12.768 10.2801C11.5022 11.3445 9.64019 11.8768 7.18199 11.8768H4.87054V14.3697H9.41088V16.1905H4.87054V20H2.394ZM4.87054 9.7479H6.82427C8.49364 9.7479 9.78695 9.46779 10.7042 8.90756C11.6398 8.34734 12.1076 7.33894 12.1076 5.88235C12.1076 4.61251 11.7223 3.66947 10.9518 3.05322C10.1814 2.43698 8.97978 2.12885 7.34709 2.12885H4.87054V9.7479Z" fill="url(#paint0_linear)"/>
				<defs>
				<linearGradient id="paint0_linear" x1="7.33333" y1="0" x2="7.33333" y2="20" gradientUnits="userSpaceOnUse">
				<stop stop-color="#419B5F"/>
				<stop offset="0.989583" stop-color="#0C5D27"/>
				</linearGradient>
				</defs>
			</svg>
			span.plot-content-info__price-old 900 000 руб.
			span.plot-content-info__price-new 1 300 000 руб.
			span.plot-content-info__price-default(style="display:none") 1 300 000 руб.
		.form-plot__img
			img(src="assets/images/plot-plan.jpg", alt="")
	.form-col
		.form__title Забронировать участок
		.general-form
			.general-itemInput.general-itemInput_50
				input.general-itemInput__input(type="tel" data-type="tel" data-required="" placeholder="Телефон")
			.general-itemInput.general-itemInput_50
				input.general-itemInput__input(type="text" data-type="email" data-required="" placeholder="E-mail")
			.general-itemInput
				textarea.general-itemInput__input(type="text" placeholder="Сообщение")
			.general-bottomBlock
				button.general__btn.gradient-btn(type="submit") 
					span Связаться
				p.general-bottomBlock__text Отправляя личные данные, Вы соглашаетесь 
					a(target="_blank" href="#") с политикой конфиденциальности
