form.form
	.form__title Заказать обратный звонок
	.general-form
		.general-itemInput.general-itemInput_50
			input.general-itemInput__input(type="tel" data-type="tel" data-required="" placeholder="Телефон")
		.general-itemInput.general-itemInput_50
			input.general-itemInput__input.datetimepickerPhone(type="text" readonly autocomplete="off" placeholder="Выберите время звонка")
		.general-bottomBlock
			button.general__btn.gradient-btn(type="submit") 
				span Связаться
			p.general-bottomBlock__text Отправляя личные данные, Вы соглашаетесь 
				a(target="_blank" href="text.html") с политикой конфиденциальности
