extends ../template

block variables
	- var title = 'Контакты'

block content
	.contacts
		img(src="assets/images/contacts-img.png", alt="")
		.mycontainer
			h1.title Контакты
			.contacts__title Коттеджный посёлок “Аннинские просторы”
			.contacts__text 17 км от Санкт- Петербурга,</br>Коркино, Ленинградская обл.
			a.contacts__tel(href="tel:+78121234567") +7 (812) 123-45-67
			.contacts-socials
				a.contacts-socials__item(href="#")
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 0C10.1736 0 10.4448 0.00799995 11.2976 0.048C12.1496 0.088 12.7296 0.2216 13.24 0.42C13.768 0.6232 14.2128 0.8984 14.6576 1.3424C15.0644 1.74232 15.3792 2.22607 15.58 2.76C15.7776 3.2696 15.912 3.8504 15.952 4.7024C15.9896 5.5552 16 5.8264 16 8C16 10.1736 15.992 10.4448 15.952 11.2976C15.912 12.1496 15.7776 12.7296 15.58 13.24C15.3797 13.7742 15.0649 14.2581 14.6576 14.6576C14.2576 15.0643 13.7738 15.379 13.24 15.58C12.7304 15.7776 12.1496 15.912 11.2976 15.952C10.4448 15.9896 10.1736 16 8 16C5.8264 16 5.5552 15.992 4.7024 15.952C3.8504 15.912 3.2704 15.7776 2.76 15.58C2.22586 15.3796 1.74202 15.0648 1.3424 14.6576C0.935525 14.2577 0.620745 13.774 0.42 13.24C0.2216 12.7304 0.088 12.1496 0.048 11.2976C0.0104 10.4448 0 10.1736 0 8C0 5.8264 0.00799995 5.5552 0.048 4.7024C0.088 3.8496 0.2216 3.2704 0.42 2.76C0.620189 2.22574 0.935043 1.74186 1.3424 1.3424C1.74214 0.935385 2.22594 0.620583 2.76 0.42C3.2704 0.2216 3.8496 0.088 4.7024 0.048C5.5552 0.0104 5.8264 0 8 0ZM8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4ZM13.2 3.8C13.2 3.53478 13.0946 3.28043 12.9071 3.09289C12.7196 2.90536 12.4652 2.8 12.2 2.8C11.9348 2.8 11.6804 2.90536 11.4929 3.09289C11.3054 3.28043 11.2 3.53478 11.2 3.8C11.2 4.06522 11.3054 4.31957 11.4929 4.50711C11.6804 4.69464 11.9348 4.8 12.2 4.8C12.4652 4.8 12.7196 4.69464 12.9071 4.50711C13.0946 4.31957 13.2 4.06522 13.2 3.8ZM8 5.6C8.63652 5.6 9.24697 5.85286 9.69706 6.30294C10.1471 6.75303 10.4 7.36348 10.4 8C10.4 8.63652 10.1471 9.24697 9.69706 9.69706C9.24697 10.1471 8.63652 10.4 8 10.4C7.36348 10.4 6.75303 10.1471 6.30294 9.69706C5.85286 9.24697 5.6 8.63652 5.6 8C5.6 7.36348 5.85286 6.75303 6.30294 6.30294C6.75303 5.85286 7.36348 5.6 8 5.6Z" fill="url(#paint0_linear)"/>
						<defs>
						<linearGradient id="paint0_linear" x1="8" y1="0" x2="8" y2="16" gradientUnits="userSpaceOnUse">
						<stop stop-color="#419B5F"/>
						<stop offset="0.989583" stop-color="#0C5D27"/>
						</linearGradient>
						</defs>
					</svg>
				a.contacts-socials__item(href="#")
					<svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.8939 10.4359C19.8697 10.3831 19.8471 10.3392 19.8262 10.3041C19.4792 9.67124 18.8161 8.89442 17.8372 7.97345L17.8166 7.95236L17.8062 7.94202L17.7957 7.93142H17.7852C17.341 7.50257 17.0597 7.21422 16.9419 7.06659C16.7263 6.78537 16.678 6.50071 16.7959 6.21228C16.8791 5.99437 17.1917 5.53416 17.733 4.83103C18.0178 4.4584 18.2433 4.15974 18.4098 3.93473C19.6109 2.31772 20.1316 1.28443 19.9719 0.834456L19.9098 0.729302C19.8681 0.665996 19.7606 0.608082 19.5872 0.555265C19.4134 0.502559 19.1914 0.493843 18.9206 0.528968L15.9216 0.549946C15.8731 0.532513 15.8037 0.534138 15.7133 0.555265C15.623 0.576392 15.5779 0.586992 15.5779 0.586992L15.5257 0.613401L15.4843 0.645127C15.4495 0.666106 15.4114 0.703005 15.3697 0.755748C15.3282 0.808306 15.2935 0.869987 15.2658 0.940274C14.9393 1.79092 14.5681 2.58181 14.1515 3.3129C13.8946 3.74884 13.6587 4.12665 13.4432 4.44654C13.2281 4.76632 13.0476 5.00193 12.9019 5.15296C12.756 5.30413 12.6244 5.42524 12.5061 5.51673C12.388 5.60825 12.2979 5.64692 12.2355 5.63278C12.173 5.61863 12.1141 5.60459 12.0583 5.59056C11.9612 5.52725 11.883 5.44116 11.8241 5.3322C11.765 5.22324 11.7252 5.0861 11.7043 4.92089C11.6836 4.75557 11.6714 4.61337 11.6679 4.49382C11.6646 4.37441 11.6661 4.2055 11.6732 3.98759C11.6804 3.76956 11.6836 3.62204 11.6836 3.5447C11.6836 3.27751 11.6888 2.98754 11.6991 2.6747C11.7096 2.36186 11.7181 2.11399 11.7252 1.93138C11.7323 1.74859 11.7356 1.5552 11.7356 1.35132C11.7356 1.14744 11.7233 0.987551 11.6991 0.871501C11.6752 0.7556 11.6384 0.643096 11.59 0.534027C11.5413 0.42507 11.4701 0.340784 11.3766 0.28095C11.2829 0.221189 11.1664 0.173765 11.0277 0.138529C10.6598 0.0542065 10.1912 0.00859193 9.62183 0.00150044C8.33067 -0.0125348 7.50103 0.0718982 7.1331 0.254689C6.98732 0.33192 6.8554 0.437443 6.73745 0.570925C6.61245 0.725645 6.59502 0.810079 6.68525 0.823967C7.10184 0.887162 7.39676 1.03834 7.57033 1.27734L7.63288 1.40399C7.68153 1.49537 7.73012 1.65714 7.77873 1.88909C7.82728 2.12105 7.85861 2.37763 7.87239 2.65871C7.90704 3.17199 7.90704 3.61137 7.87239 3.97688C7.83764 4.34253 7.80481 4.62719 7.77348 4.83107C7.74215 5.03495 7.69532 5.20016 7.63288 5.32666C7.57033 5.4532 7.52872 5.53054 7.50785 5.55861C7.48703 5.58668 7.46967 5.60437 7.45588 5.61132C7.36565 5.64633 7.2718 5.66417 7.17468 5.66417C7.0774 5.66417 6.95945 5.6149 6.82064 5.51643C6.68186 5.41796 6.53783 5.28271 6.38855 5.11044C6.23927 4.93814 6.07091 4.69736 5.88341 4.38807C5.69605 4.07878 5.50165 3.71323 5.30032 3.29144L5.13375 2.98554C5.02962 2.78875 4.88738 2.50221 4.70688 2.12618C4.52627 1.75 4.36663 1.38611 4.22785 1.03461C4.17237 0.886977 4.08904 0.774585 3.97798 0.697243L3.92586 0.665516C3.89121 0.637445 3.83559 0.607639 3.75929 0.575875C3.68288 0.544147 3.60315 0.521395 3.51977 0.507397L0.66657 0.528376C0.37501 0.528376 0.177183 0.595265 0.0730178 0.728859L0.0313298 0.792054C0.0105041 0.827253 0 0.883468 0 0.960847C0 1.03819 0.0208258 1.13311 0.0625138 1.2455C0.479029 2.23684 0.93198 3.1929 1.42137 4.11383C1.91075 5.03476 2.33602 5.7766 2.69692 6.33868C3.05789 6.90116 3.42582 7.43202 3.80072 7.93101C4.17562 8.43019 4.42378 8.75008 4.5452 8.89062C4.66676 9.03141 4.76224 9.13668 4.83165 9.20696L5.09203 9.46001C5.25863 9.62876 5.50329 9.83087 5.82611 10.0663C6.149 10.3019 6.50646 10.5339 6.89869 10.7626C7.29099 10.9908 7.74737 11.1771 8.26808 11.3212C8.78873 11.4655 9.29548 11.5233 9.7884 11.4954H10.9859C11.2288 11.4742 11.4128 11.3968 11.5379 11.2634L11.5793 11.2105C11.6072 11.1685 11.6333 11.1033 11.6573 11.0156C11.6817 10.9278 11.6938 10.831 11.6938 10.7257C11.6867 10.4234 11.7094 10.151 11.7613 9.90851C11.8132 9.66607 11.8724 9.48327 11.9386 9.36017C12.0047 9.23718 12.0793 9.13339 12.1624 9.04925C12.2456 8.96493 12.3049 8.91385 12.3397 8.89627C12.3743 8.87858 12.4019 8.86657 12.4227 8.85937C12.5893 8.80316 12.7854 8.8576 13.0112 9.02295C13.2369 9.18816 13.4485 9.39216 13.6465 9.6346C13.8444 9.87726 14.0821 10.1495 14.3597 10.4517C14.6375 10.7541 14.8804 10.9788 15.0886 11.1267L15.2968 11.2532C15.4358 11.3377 15.6163 11.415 15.8385 11.4853C16.0603 11.5555 16.2546 11.5731 16.4215 11.538L19.0872 11.4959C19.3508 11.4959 19.556 11.4517 19.7015 11.364C19.8473 11.2761 19.9339 11.1793 19.9619 11.074C19.9897 10.9686 19.9912 10.849 19.9672 10.7153C19.9425 10.5819 19.9181 10.4886 19.8939 10.4359Z" fill="url(#paint0_linear)"/>
						<defs>
						<linearGradient id="paint0_linear" x1="10" y1="0" x2="10" y2="11.5556" gradientUnits="userSpaceOnUse">
						<stop stop-color="#419B5F"/>
						<stop offset="0.989583" stop-color="#0C5D27"/>
						</linearGradient>
						</defs>
					</svg>
			.contacts__map
				img(src="assets/images/preloader.svg", alt="")
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2f1853bf8f81da14682d7407281a42f2b35a6ca30d3fdde2852fb95866c6b20d&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
			include ../common/form-message.pug

	#form-phone(style="display:none")
		include ../common/form-phone.pug