extends ../template

block variables
	- var title = 'Как купить'

block content
	.howtobuy
		img(src="assets/images/howtobuy-img.png", alt="")
		.mycontainer
			.title Как купить
			.howtobuy-content
				.howtobuy-content-col
					p Покупка участков происходит по двум договорам, общая сумма за участок разбивается между договорами.
					ul
						li 1. Договор купли-продажи на землю;
						li 2. Договор ДДИ на инфраструктуру. В договоре указывается вся информация.
					p Все оплаты только через удобный вам банк по реквизитам, указанным в договорах.
					p При единовременной оплате действует скидка, согласно акции текущего месяца. Ближе к сезону продаж (весна) скидка будет уменьшаться.
					p Возможна беспроцентная рассрочка на два года: 40% первый взнос, остальное равными платежами; а также кредитование. Рекомендуем онлайн-заявку на "кредит на землю" в <span>Сбербанке</span>, или, например, в <span>Россельхозбанке</span>. Оформление в собственность происходит путём совместной с покупателем подачи документов в УФРС через МФЦ Ломоносовского района.
				.howtobuy-content__img
					img(src="assets/images/howtobuy-main.png", alt="")
			include ../common/form-phone.pug
	
	#form-phone(style="display:none")
		include ../common/form-phone.pug