extends ../template

block variables
	- var title = 'Страница Акции/Новости'

block content
	.stockpage
		.mycontainer
			.title В Иннола парк начались работы по прокладке газа и воды
			.stockpage__date 03.10.2019
			.stockpage__banner
				img(src="assets/images/stockpage-banner.jpg", alt="")
			.stockpage-content
				p Многие компании-девелоперы предлагают купить таунхаус в Подмосковье на начальной стадии строительства. Неоспоримым преимуществом такого приобретения является цена недвижимости, которая на порядок ниже готового жилья. Самый распространенный вариант – покупка жилплощади с черной отделкой. За сравнительно небольшую цену вы получаете пустой периметр с отмеченными контурами возможных комнат или со стеновыми перегородками. В зависимости от условий договора, застройщики производят остекление, устанавливают двери, обустраивают крыльцо и пр.
				p Выбор такого формата жилья предоставляет возможность полностью воплотить собственные отделочные мечты в реальность, визуализируя свои пожелания. Можно учесть предпочтения каждого члена семьи, выполнив планировку, отделку и декорирование, согласно вкусам всех обитателей дома. Но некоторые из будущих покупателей просто не доверяют качеству ремонта и строительных материалов, которые предлагают компании-застройщики. Чтобы исключить неприятные неожиданности или обман, лучше самостоятельно посещать коттеджные поселки и руководствоваться отзывами жителей уже сданных объектов.
				.stockpage-content__title Преимущество таунхаусов с отделкой «под ключ»
				p Если вы мечтаете поскорей переехать из шумного мегаполиса в загородное «уютное гнездышко», то оптимальный вариант – таунхаус с отделкой в Подмосковье. Готовое для проживания жилье имеет несколько преимуществ перед покупкой дома без ремонта:
				ul
					li 1. Возможность заселяться сразу после оформления документов;
					li 2. Избавление от необходимости поиска мастеров-отделочников, покупки стройматериалов и пр.;
					li 3. Исключены эмоциональные издержки на период контроля за действиями строительной бригады;
					li 4. Не нужно снимать квартиру, жить у родственников, ожидая, пока закончится ремонт, и т.д.
				p В большинстве своем, современные комфортабельные коттеджи, возведенные на европейский манер, отличаются высоким качеством строительства, выполненного с учетом передовых технологий. А произведенные отделочные работы соответствуют строгим критериям, правилам строительства и нормам действующих стандартов.
				img(src="assets/images/stockpage-banner.jpg", alt="")

	#form-phone(style="display:none")
		include ../common/form-phone.pug