extends ../template

block variables
	- var title = 'Текстовая страница'

block content
	.textpage
		.mycontainer
			.title Политика конфиденциальности
			.textpage-content
				p  Обработку персональных данных, полученных на настоящем сайте, осуществляет ООО «РА-Студио».<br>Настоящее Положение о политике конфиденциальности (далее — Положение) является официальным документом ООО «РА-Студио», расположенного по адресу: Санкт-Петербург, БЦ "Кантемировский", ул Инструментальная д 3, лит Б, офис 206 (далее — «Компания») и определяет порядок обработки и защиты информации о физических лицах (далее — Пользователи), пользующихся сервисами, информацией и услугами сайта, расположенного на доменном имени support.ra-studio.ru (далее — Сайт).<br>Положение описывает, как Компания осуществляет обработку персональных данных — а именно, любые действия (операции) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.<br>Отношения, связанные с обработкой персональных данных и информации о пользователях Сайта, регулируются настоящим Положением, иными официальными документами Компании и действующим законодательством РФ.<br>Настоящее Положение распространяется на обработку личных, персональных данных, собранных любыми средствами, как активными, так и пассивными, как через Интернет, так и без его использования, от лиц, находящихся в любой точке мира.<br>ООО «РА-Студио» оставляет за собой право вносить любые изменения в данный текст без предварительного оповещения пользователей данного сайта.
				p <b>Персональные данные</b><br>Компания не имеет намерения собирать информацию, относимую действующим законодательством Российской Федерации к персональным данным, например, Ваши фамилию, имя, отчество, год, месяц, дату и место рождения, адрес, семейное, социальное, имущественное положение, образование, профессия, доходы, номер телефона, адрес электронной почты и другую информацию («Персональные данные»), через Сайт, за исключением случаев, когда Персональные данные были предоставлены вами добровольно.