.main{
	&-banner{
		height: 950px;
		background: url('../images/main-banner.jpg') left bottom no-repeat;
		background-size: cover;
		position: relative;
		&__switcher{
			position: absolute;
			right: 30px;
			top: 115px;
			input{
				display: none;
				&:checked + span{
					background: url('../images/day.svg') center no-repeat;
					span{
						right: calc(100% - 29px);
					}
				}
			}
			>span{
				display: block;
				width: 68px;
				height: 32px;
				border-radius: 30px;
				position: relative;
				background: url('../images/night.svg') center no-repeat;
				cursor: pointer;
				span{
					width: 26px;
					height: 26px;
					background: #FDFDFD;
					position: absolute;
					top: 3px;
					right: 3px;
					border-radius: 50%;
					transition: .3s;
				}
			}
		}
		&-info{
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translateX(-50%);
			max-width: 1210px;
			padding: 0 20px;
			width: 100%;
			&__subtext{
				@include small_text;
				margin-bottom: 20px;
			}
			&__title{
				font-family: 'Tenor Sans', sans-serif; 
				@include main_title;
				margin-bottom: 20px;
			}
			&__text{
				margin-bottom: 60px;
				span{
					display: block;
					font-weight: bold;
					color: var(--link);
				}
			}
			&__btn{
				width: 300px;
				height: 48px;
			}
		}
	}
	&-stock{
		.main__title{
			margin-bottom: 60px;
		}
		&-tabs{
			position: relative;
			&-prev,
			&-next{
				position: absolute;
				bottom: 150px;
				background: #FDFDFD;
				box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				width: 62px;
				height: 62px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				transition: .3s;
				@media screen and (min-width: 1200px) {
					&:hover{
						background: rgba(12, 93, 39, 0.1);
						box-shadow: none;
					}
					&:active{
						background: #FDFDFD;
						box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05)
					}
				}
			}
			&-prev{
				left: 110px;
			}
			&-next{
				right: 110px;
			}
			&-navigation{
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: 93px;
				grid-gap: 20px;
				max-width: 850px;
				margin: 0 auto 60px;
				&-item{
					display: flex;
					align-items: center;
					background: #FDFDFD;
					box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
					border-radius: 5px;
					position: relative;
					transition: .3s;
					&:before{
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background: linear-gradient(180deg, rgba(28, 137, 65, 0.83) 0%, #0C5D27 98.96%);
						opacity: 0;
						border-radius: 5px;
						transition: .3s;
					}
					&.active{
						color: #FFFFFF;
						&:before{
							opacity: 0.5;
						}
					}
					&__img{
						flex: 0 0 140px;
						position: relative;
						img{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							user-select: none;
						}
					}
					&__text{
						position: relative;
					}
				}
			}
			&-tab{
				max-width: 920px;
				height: 351px;
				margin: 0 auto;
				align-items: center;
				display: none;
				&.active{
					display: flex;
				}
				&-info{
					padding-right: 40px;
					&__title{
						@include text_subtitle;
						margin-bottom: 20px;
					}
					&__text{
						margin-bottom: 60px;
					}
					&__btn{
						width: 240px;
						height: 48px;
					}
				}
				&__img{
					flex: 0 0 440px;
					height: 100%;
					img{
						width: 100%;
						height: 100%;
						object-fit: contain;
					}	
				}
			}
		}
	}
	&-infrastructure{
		background: url('../images/infrastructure-back.png') center bottom no-repeat;
		background-size: cover;
		position: relative;
		padding-top: 260px;
		padding-bottom: 400px;
		&-top{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		&-bot{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		.mycontainer{
			position: relative;
			z-index: 2;
		}
		.main__title{
			margin-bottom: 20px;
		}
		&__text{
			max-width: 730px;
			margin-left: 120px;
			margin-bottom: 60px;
		}
		&-items{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 20px;
			max-width: 1350px;
			margin: 0 auto 100px;
			&-item{
				display: flex;
				flex-direction: column;
				align-items: center;
				&__img{
					width: 150px;
					height: 150px;
					border-radius: 50%;
					background: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 40px;
				}
				&__title{
					text-align: center;
					@include text_subtitle;
					font-family: 'Tenor Sans', sans-serif;
					margin-bottom: 10px; 
				}
				&__text{
					text-align: center; 
				}
			}
		}
		&__btn{
			width: 300px;
			height: 48px;
			margin: 0 auto;
		}
	}
	&-advantages{
		position: relative;
		&__img{
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
		}
		&-wrap{
			display: flex;
			width: 100%;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
			&-content{
				flex: 0 0 100%;
				.mycontainer{
					height: 100%;
				}
				&:nth-child(2n){
					.main-advantages-item{
						flex-direction: row-reverse;
					}
					.main-advantages-item__img{
						margin-right: 0;
						margin-left: 145px;
					}
				}
			}
		}
		&-item{
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 160px 0;
			height: 100%;
			
			&__img{
				border-radius: 50%;
				flex: 0 0 460px;
				height: 460px;
				margin-right: 145px;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&-info{
				&__title{
					@include text_subtitle;
					font-family: 'Tenor Sans', sans-serif; 
					color: var(--cabernet);
				}
				&__subtitle{
					@include bold;
					margin-top: 40px;
					margin-bottom: 20px;
				}
				&__item{
					margin-left: 10px;
				}
				&__item + &__item{
					margin-top: 10px;
				}
			}
		}
	}
	&-about{
		padding-top: 200px;
		padding-bottom: 170px;
		position: relative;
		> img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		&-wrap{
			background: url('../images/about-back.jpg') bottom no-repeat;
			background-size: cover;
		}	
		.main__title{
			margin-bottom: 120px;
		}
		.mycontainer{
			position: relative;
			z-index: 2;
		}
		.main-infrastructure__btn{
			width: 360px;
		}
		&__price{
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			color: var(--grass);
			text-align: right;
			margin-top: -155px;
			margin-bottom: 120px;
			span{
				font-size: 36px;
			}
		}
	}
	&-genplan{
		padding-bottom: 150px;
		position: relative;
		.main__title{
			margin-bottom: 60px;
		}
		.mycontainer{
			position: relative;
			z-index: 2;
		}
		&__bot{
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		&__img{
			position: absolute;
			z-index: 3;
			right: 0;
			top: -80px;
		}
	}
	&-location{
		margin-bottom: 150px;
		position: relative;
		> img{
			position: absolute;
			top: -50px;
		}
		.main__title{
			margin-bottom: 60px;
		}
		.mycontainer{
			position: relative;
			z-index: 2;
		}
		&-content{
			display: flex;
			&-info{
				flex: 0 0 480px;
				background: #FDFDFD;
				box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				padding: 20px;
				margin-right: 20px;
				&-tabs{
					display: flex;
					margin-bottom: 40px;
					&__item{
						flex: 1;
						background: #FFFFFF;
						border: 2px solid #0C5D27;
						box-sizing: border-box;
						border-radius: 5px;
						@include text_medium;
						height: 50px;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						transition: .3s;
						@media screen and (min-width:1200px) {
							&:hover{
								background: rgba(12, 93, 39, 0.1);
							}
						}
						&.active{
							background: var(--grass);
							color: #FFFFFF;
						}
						&:last-child{
							flex: 2;
							margin-left: 20px;
						}
					}
				}
				&__input{
					width: 100%;
					height: 50px;
					background: #FFFFFF;
					position: relative;
					&:before{
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						left: 16px;
						transform: translateY(-50%);
						width: 17px;
						height: 20px;
						background: url('../images/map-icon1.svg') center no-repeat;
					}
					input{
						width: 100%;
						height: 100%;
						@include text_medium;
						padding-left: 40px;
						border: 2px solid rgba(0, 0, 0, 0.25);
						border-radius: 5px;
						padding-right: 1px;
					}
				}
			}
			&-map{
				flex: 1;
				height: 640px;
				box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
			}
		}
	}
	&-perspective{
		position: relative;
		margin-bottom: 150px;
		> img{
			position: absolute;
			right: 0;
			top: -100px;
		}
		.main__title{
			margin-bottom: 40px;
		}
		&-items{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 457px;
			grid-auto-rows: 457px;
			grid-gap: 40px;
			&-item{
				background: #FDFDFD;
				box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				padding: 20px;
				&__img{
					width: 100%;
					height: 280px;
					margin-bottom: 40px; 
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				&__title{
					font-family: 'Tenor Sans', sans-serif; 
					@include text_subtitle;
					margin-bottom: 20px;
				}
				&__text{
					display: block;
					display: -webkit-box;
					max-width: 100%;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					-o-text-overflow: ellipsis;
					text-overflow: ellipsis;
				}
			}
		}
	}
	&-partners{
		margin-bottom: 225px;
		.main__title{
			margin-bottom: 60px;
		}
		&-slider{
			padding: 0 40px;
			opacity: 0;
			transition: .3s;
			&.slick-initialized{
				opacity: 1;
			}
			&-item{
				padding: 20px;
				img{
					max-height: 100%;
					max-width: 100%;
					margin: auto;
				}
			}
			.slick-arrow{
				width: 40px;
				height: 40px;
				background: #FDFDFD;
				box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: .3s;
				&:before{
					font-size: 0;
					border-left: 3px solid rgba(0, 0, 0, 0.75);
					border-bottom: 3px solid rgba(0, 0, 0, 0.75);
					width: 10px;
					height: 10px;
					display: block;
					opacity: 1;
				}
				@media screen and (min-width: 1200px) {
					&:hover{
						background: rgba(12, 93, 39, 0.1);
						box-shadow: none;
					}
					&:active{
						background: #FDFDFD;
						box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
					}
				}
			}
			.slick-prev{
				left: 0;
				&:before{
					transform: translateX(4px) rotate(45deg);
				}
			}
			.slick-next{
				right: 0;
				&:before{
					transform: translateX(-1px) rotate(225deg);
				}
			}
			.slick-dots{
				bottom: -60px;
				li{
					margin: 0 10px;
					width: 40px;
					height: 40px;
					button{
						&:before{
							font-size: 0;
							width: 16px;
							height: 16px;
							border-radius: 50%;
							border: 1px solid var(--grass);
							opacity: 1;
							transition: .3s;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
					}
					&:hover{
						button{
							&:before{
								background: rgba(12, 93, 39, 0.25);
							}
						}
					}
					&.slick-active{
						button{
							&:before{
								border-color: transparent;
								background: linear-gradient(180deg, rgba(28, 137, 65, 0.83) 0%, #0C5D27 98.96%);
							}
						}
					}
				}
			}
		}
	}
}

@include w1440{
	.main-advantages-item-info__subtitle{
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

@include w1024{
	.main{
		&-banner{
			&-info{
				&__title{
					font-size: 48px;
					line-height: 56px;
					margin-bottom: 40px;
				}
				&__text{
					margin-bottom: 80px;
				}
			}
		}
		&-stock{
			&-tabs{
				&-prev{
					left: 0;
					width: 50px;
					height: 50px;
				}
				&-next{
					right: 0;
					width: 50px;
					height: 50px;
				}
				&-navigation{
					grid-template-rows: 70px;
					&-item{
						&__img{
							flex: 0 0 100px;
							height: 100%;
							img{
								height: 120%;
								left: auto;
								transform: translateY(-50%);
							}
						}
					}
				}
				&-tab{
					padding: 0 74px;
					&-info{
						&__text{
							margin-bottom: 30px;
						}
					}
					&__img{
						flex: 0 0 280px;
					}
				}
			}
		}
		&-infrastructure{
			padding-top: 190px;
			padding-bottom: 310px;
			&-top,
			&-bot{
				width: auto;
			}
			.main__title{
				margin-bottom: 40px;
			}
			&__text{
				margin-left: 90px;
			}
			&-items{
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 60px;
				margin-bottom: 60px;
			}
		}
		&-advantages{
			&__img{
				display: none;
			}
			&-wrap{
				display: block;
				height: auto;
				&-content{
					&:nth-child(2n){
						.main-advantages-item__img{
							margin-left: 40px;
						}
					}
				}
			}
			&-item{
				padding: 55px 0;
				&-info{
					&__subtitle{
						margin-top: 40px;
    				margin-bottom: 20px;
					}
					&__item{
						margin-left: 0;
					}
				}
				&__img{
					flex: 0 0 350px;
					height: 350px;
					margin-right: 40px;
				}
			}
		}
		&-about{
			> img{
				width: auto;
			}
			&__price{
				margin-top: -235px;
				margin-bottom: 135px;
				max-width: 130px;
				text-align: left;
				margin-left: auto;
			}
		}
		&-genplan{
			&__img{
				top: -100px;
			}
			&__bot{
				width: auto;
			}
			&__content{
				img{
					max-width: 100%;
				}
			}
		}
		&-perspective{
			>img{
				right: -140px;
				top: -300px;
			}
			&-items{
				grid-template-columns: repeat(1, 1fr);
				grid-template-rows: 320px;
				grid-auto-rows: 320px;
				grid-gap: 20px;
				&-item{
					display: flex;
					&:nth-child(2n){
						flex-direction: row-reverse;
						.main-perspective-items-item__img{
							margin-right: 0;
							margin-left: 20px;
						}
					}
					&__text{
						display: block;
					}
					&__img{
						margin-bottom: 0;
						margin-right: 20px;
						height: 100%;
						flex: 0 0 428px;
					}
				}
			}
		}
		&-partners{
			.main__title{
				margin-bottom: 40px;
			}
			&-slider{
				margin-bottom: 0;
				.slick-arrow{
					width: 30px;
					height: 30px;
					&:before{
						width: 8px;
						height: 8px;
					}
				}
				.slick-dots{
					left: 0;
					bottom: -40px;
				}
				&-item{
					&__img{
						width: 100px;
						height: 100px;
						margin: auto;
						img{
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}
				}
			}
		}
	}
}

@include w480{
	.main{
		&-banner{
			height: 800px;
			&-info{
				&__title{
					@include subtitle;
					margin-bottom: 20px;
				}
				&__btn{
					max-width: 100%;
					margin: 0 auto;
				}
			}
		}
		&-stock{
			.main__title{
				margin-bottom: 30px;
			}
			&-tabs{
				&-navigation{
					display: flex;
					overflow-x: scroll;
					padding: 10px 10px 10px 20px;
					margin-left: -20px;
					width: calc(100% + 40px);
					margin-bottom: 30px;
					&:after{
						content: '';
						display: inline-block;
						flex: 0 0 10px;
					}
					&-item{
						height: 40px;
						padding: 0 30px;
						margin-right: 10px;
						white-space: nowrap;
						&__img{
							display: none;
						}
					}
				}
				&-prev, 
				&-next{
					display: none;
				}
				&-tab{
					padding: 0;
					height: auto;
					flex-direction: column-reverse;
					align-items: center;
					&-info{
						padding-right: 0;
						&__text{
							margin-bottom: 20px;
						}
						&__btn{
							width: 100%;
							height: 45px;
						}
					}
					&__img{
						flex: 0 0 250px;
						height: 250px;
						width: 100%;
						margin-bottom: 40px;
						img{
							max-height: 100%;
						}
					}
				}
			}
		}
		&-infrastructure{
			padding-top: 150px;
			padding-bottom: 210px;
			&__text{
				margin-left: 0;
			}
			&-items{
				grid-template-columns: repeat(1, 1fr);
				grid-gap: 40px;
				&-item{
					flex-direction: row;
					align-items: flex-start;
					&__img{
						flex: 0 0 75px;
						height: 75px;
						margin-right: 20px;
						margin-bottom: 0;
						img{
							object-fit: contain;
							width: 60%;
							height: 60%;
						}
					}
					&__title{
						text-align: left;
						font-size: 18px;
						line-height: 21px;
					}
					&__text{
						text-align: left;
					}
				}
			}
			&__btn{
				max-width: 100%;
			}
		}
		&-advantages{
			margin-top: -50px;
			&-wrap-content:nth-child(2n){
				.main-advantages-item{
					flex-direction: column;
				}
				.main-advantages-item__img{
					margin-left: 0;
				}
			}
			&-item{
				flex-direction: column;
				&__img{
					margin-right: 0;
					height: auto;
					flex: initial;
					margin-bottom: 40px;
				}
			}
		}
		&-about{
			padding-top: 100px;
			padding-bottom: 150px;
			.main__title{
				margin-bottom: 40px;
			}
			&__price{
				margin-top: 0;
				margin-bottom: 80px;
				max-width: none;
			}
		}
		&-genplan{
			&__img{
				display: none;
			}
			.main__title{
				margin-bottom: 40px;
			}
			&__content{
				overflow-x: scroll;
				width: calc(100% + 40px);
				margin-left: -20px;
				padding-left: 20px;
				&:before{
					content: '';
					height: 100%;
					width: 40px;
					background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
					position: absolute;
					right: 0;
				}
				img{
					min-width: 768px;
				}
			}
		}
		&-perspective{
			&-items{
				grid-template-rows: auto;
				grid-auto-rows: auto;
				&-item{
					flex-direction: column;
					&:nth-child(2n){
						flex-direction: column;
						.main-perspective-items-item__img{
							margin-left: 0;
						}
					}
					&__img{
						flex: auto;
						margin-bottom: 20px;
						margin-right: 0;
					}
					&__title{
						font-size: 20px;
						line-height: 23px;
					}
				}
			}
		}
		&-partners{
			margin-bottom: 175px;
			&-slider{
				padding: 0;
				.slick-dots li{
					margin: 0;
				}
				&-item{
					padding: 10px;
					&__img{
						width: 130px;
						height: 130px;
					}
				}
			}
		}
	}
}