@import 'common/normalize';

:root{
	--linear: linear-gradient(134.07deg, #48B1EC 29.28%, #107833 113.35%);
	--main-gradient: linear-gradient(180deg, #419B5F 0%, #0C5D27 98.96%);
	--sky: #48B1EC;
	--grass: #0C5D27;
	--cabernet: #7F2210;
	--black: rgba(0, 0, 0, 0.75);
	--white: #FDFDFD;
	--link: #47657A;
}
html,
body{
	display: block;
	color: var(--black);
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 150%;
}
.wrapper {
  display: flex;
  min-height: 100vh;
	flex-direction: column;
	overflow-x: hidden;
	&.fixed{
		overflow: hidden;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		position: relative;
	}
}
.content {
	flex: 1;
	position: relative;
}

@mixin main_title {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 72px;
	line-height: 84px;
};
@mixin subtitle {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 36px;
	line-height: 42px;

};
@mixin text_subtitle {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 24px;
	line-height: 28px;
};
@mixin text {
	font-size: 16px;
	line-height: 150%;
};
@mixin text_medium {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
};
@mixin bold {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
};
@mixin enlarged {
	font-size: 18px;
	line-height: 150%;
};
@mixin small_text {
	font-size: 14px;
	line-height: 17px;
};
@mixin tabs {
	font-size: 12px;
	line-height: 15px;
};
.title{
	width: 100%;
	margin: 20px 0 40px;
	@include subtitle;
	color: var(--grass)
}
.main__title{
	@include subtitle;
}
.mycontainer{
	max-width: 1400px;
	padding: 0 20px;
	margin: 0 auto;
}

.gradient-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	@include bold;
	color: #FFFFFF;
	transition: .3s;
	position: relative;
	border-radius: 30px;
	background: var(--grass);
	span{
		position: relative;
		z-index: 2;
	}
	svg{
		position: relative;
		z-index: 2;
		margin-left: 10px;
	}
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		border-radius: 30px;
		background: var(--main-gradient);
		position: absolute;
		left: 0;
		top: 0;
		transition: .3s;
	}
	&:hover{
		color: #FFFFFF;
	}
	&:focus{
		color: #FFFFFF;
	}
	@media screen and (min-width:1200px) {
		&:hover{
			&:before{
				opacity: 0;
			}
		}
		&:active{
			color: #FFFFFF;
			background: #3D7D52;
		}
	}
}




@import 'common/adaptive';
@import 'common/header';
@import 'common/footer';
@import 'common/form-message';
@import 'pages/index';
@import 'pages/contacts';
@import 'pages/news';
@import 'pages/projects';
@import 'pages/plot';
@import 'pages/howtobuy';
@import 'pages/stockpage';
@import 'pages/map';

@include w480{
	.main__title{
		@include text_subtitle;
	}
	.title{
		@include text_subtitle;
	}
}

input{
	line-height:normal!important;
}