.overlay{
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	display: none;
}
.compensate-for-scrollbar .header{
	padding-right: 57px;
}
.compensate-for-scrollbar .header-popup.active{
	margin-right: 17px;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 115px;
	padding: 16px 40px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	z-index: 2;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
	&.main{
		box-shadow: none;
	}
	&__logo{
		max-width: 166px;
		img{
			width: 100%;
		}
	}
	&-menu{
		display: flex;
		align-items: center;
		&__item{
			padding: 5px;
			margin: 0 11px;
			font-weight: 500;
			&.red{
				color: var(--cabernet);
			}
		}
	}
	&-info{
		display: flex;
		align-items: center;
		&__tel{
			@include bold;
			margin-bottom: 5px;
		}
		&__work{
			@include tabs;
			display: flex;
			align-items: center;
			&.close-work:before{
				background: var(--cabernet);
			}
			&:before{
				content: '';
				width: 8px;
				height: 8px;
				border-radius: 50%;
				margin-right: 8px;
				background: var(--grass);
			}
		}
		&__burger{
			padding: 20px;
			margin: 0 -20px;
			margin-left: 110px;
			cursor: pointer;
		}
	}
	&-popup{
		position: fixed;
		z-index: 20;
		right: 0;
		top: 0;
		padding-left: 115px;
		padding-bottom: 20px;
		background-color: #fff;
		width: 826px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transform: translateX(100%);
		transition: transform .3s;
		&.active{
			transform: translateX(0);
		}
		&-top{
			flex: 0 0 115px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-right: 35px;
			&__btn{
				width: 225px;
				height: 52px;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 2px solid var(--grass);
				border-radius: 30px;
				margin-left: 42px;
				transition: .3s;
				@media screen and (min-width:1200px) {
					&:hover{
						background: rgba(12, 93, 39, 0.1);
					}
					&:active{
						color: #FFFFFF;
						background: var(--grass);
					}
				}
			}
		}
		&-menu{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			flex: 1;
			padding: 40px 0;
			&__item{
				font-family: 'Tenor Sans', sans-serif;
				@include text_subtitle;
				padding: 10px;
				margin-left: -10px;
			}
		}
		&-bot{
			&-item{
				display: flex;
				align-items: center;
				font-size: 14px;
				a{
					padding: 5px;
					margin-left: -5px;
					
				}
				&+&{
					a{
						font-weight: 600;
						margin-left: 0;
						color: var(--link);
					}
				}
			}
			&-socials{
				display: flex;
				align-items: center;
				a{
					padding: 20px;
					&:first-child{
						margin-left: -20px;
					}
				}
			}
		}
	}
}

.breadcrumbs{
	display: flex;
	@include tabs;
	max-width: 1400px;
	width: 100%;
	padding: 0 20px;
	margin: 155px auto 0;
	span{
		margin: 0 20px;
	}
}
@include w1440{
	.header-popup-menu{
		padding-top: 0;
		padding-bottom: 20px;
	}
}

@include w1024{
	.header{
		height: 110px;
		width: calc(100% - 40px);
		padding: 20px 0;
		margin: 0 20px;
		left: 0;
		transform: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		box-shadow: none;
		&__logo{
			max-width: 140px;
		}
		&-menu{
			position: absolute;
			left: -10px;
			bottom: -50px;
			justify-content: space-between;
			width: calc(100% + 20px);
		}
		&-info{
			&__burger{
				margin-left: 20px;
			}
		}
		&-popup{
			width: 100%;
			overflow-y: scroll;
			&-top{
				flex: 0 0 110px;
			}
		}
	}
	.breadcrumbs{
		padding: 0 23px;
		margin: 235px auto 0;
	}
}

@include w480{
	.header{
		height: 90px;
		padding: 10px 0;
		border: none;
		&__logo{
			max-width: 120px;
		}
		&-menu{
			display: none;
		}
		&-info{
			&-wrap{
				display: none;
			}
			&__burger{
				svg{
					height: 14px;
				}
			}
		}
		&-popup{
			padding-left: 20px;
			padding-bottom: 10px;
			@media screen and (orientation: landscape){
				&{
					display: block;
				}
			}
			&-top{
				flex: 0 0 90px;
				padding-right: 10px;
				.header-info-wrap{
					display: block;
				}
				&__btn{
					display: none;
				}
				.header-info__burger svg{
					height: 35px;
				}
			}
			&-menu{
				padding: 0;
				padding-bottom: 20px;
				justify-content: center;
				&__item{
					font-size: 18px;
					line-height: 21px;
					padding: 10px 10px;
				}
			}
			&-bot{
				&-item{
					@include small_text;
				}
				&-socials{
					a{
						padding: 10px 20px;
						display: flex;
					}
				}
			}
		}
	}
	.breadcrumbs{
		margin: 115px auto 0;
	}
}